body {
    display: flex;
    justify-content: center;
}
.centerer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    flex: 2 2 auto;
    max-width: 1000px;
    margin: 50px;
    flex-direction: column;
    display: flex;
}